---
layout: default
---

<div class="post-content">
  <h1>
    {{ page.title }}
  </h1>
  {% if site.hide_post_date != true %}
    {% include post-date.html %}
  {% endif %}
  
  {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
    </div>
    {% if page.description %}
      <p> {{ page.description }} </p>
    {% endif %}
  {% endif %}
  
  {% if page.image_1 %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image_1 }}">
    </div>
      {% if page.description_1 %}
      <p> {{ page.description_1 }} </p>
    {% endif %}
  {% endif %}

  {% if page.image_2 %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image_2 }}">
    </div>
      {% if page.description_2 %}
      <p> {{ page.description_2 }} </p>
    {% endif %}
  {% endif %}
  
    {% if page.image_3 %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image_3 }}">
    </div>
        {% if page.description_3 %}
      <p> {{ page.description_3 }} </p>
    {% endif %}
  {% endif %}
  
    {% if page.image_4 %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image_4 }}">
    </div>
        {% if page.description_4 %}
      <p> {{ page.description_4 }} </p>
    {% endif %}
  {% endif %}
  
    {% if page.image_5 %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image_5 }}">
    </div>
        {% if page.description_5 %}
      <p> {{ page.description_5 }} </p>
    {% endif %}
  {% endif %}
  
  
  <article>
    {{ content }}
  </article>
  {% if site.hide_post_share != true %}
    {% include post-share.html %}
  {% endif %}
  {% if site.hide_related_posts != true %}
    {% include related-posts.html %}
  {% endif %}
  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}
</div>
