---
layout: default
---

<div class="post-content">
  <h1>
    {{ page.title }}
  </h1>
  {% if site.hide_post_date != true %}
    {% include post-date.html %}
  {% endif %}

  {% for i in (0..30) %}
    {% capture image_var %}image_{{ i }}{% endcapture %}
    {% capture description_var %}description_{{ i }}{% endcapture %}
  
    {% if page[image_var] %}
      <div class="featured-image">
        <img src="{{ site.github.url }}/assets/img/{{ page[image_var] }}">
      </div>
      {% if page[description_var] %}
        <p> {{ page[description_var] }} </p>
      {% endif %}
    {% endif %}
  {% endfor %}
  
  <article>
    {{ content }}
  </article>
  {% if site.hide_post_share != true %}
    {% include post-share.html %}
  {% endif %}
  {% if site.hide_related_posts != true %}
    {% include related-posts.html %}
  {% endif %}
  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}
</div>
